.list {
	display: inline-block;
	width: 40%;
	vertical-align: text-top;
	padding: 2em;
}

@media screen and (max-width: 600px) {
	.list {
		width: 100%;
	}

	.list_r {
		padding-bottom: 0.5em;
	}

	.list_j {
		padding-top: 0;
	}
}
